@font-face {
    font-family: 'TestFont';
    src: url('/static/fonts/ostrich-sans-bold.woff');    
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

main {
	position: relative;
}

#content {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.main-title {
    display: flex;
    justify-content: center;    
    margin: 0 0;	
    font-size: 120px;
    /* line-height: 140px; */
    font-weight: normal;
    font-family: monospace;
    color: #d54d7b; 
    text-shadow: 0 1px 1px #fff;
}

.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 24px;
    text-shadow: 0 1px 1px #fff;        
    color: #7a7c7f;
}

.blink {
    animation: blinker 1s ease-in-out infinite;
}

.input-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40;	
}

.input-field {
	border-style: none;
	margin-bottom: 5px;
}

input {
    font-size: 20px; 
    width: 250px;
    border-radius: 10px;
    border-width: 1px;
    color: #d54d7b;	
	height: 35px;
	padding: 0 25px;
}

input:focus {
	border-radius: 10px;
    border-width: 2px;
	border-color: #d54d7b;
	outline: none;
}

.input-field {
	margin-bottom: 10px;
}

.input-field > label {
	margin-right: 10px;
}

#submit {
	margin-left: 45px;
	width: 150px;
	background-color: whitesmoke;
	transition: all 0.2s ease;
	cursor: pointer;
}

#submit:hover {
	background-color: white;
	color: #983858;
}

nav {
	display: flex;
	justify-content: center;
}

.footer-navbar {
	display: flex;
	flex-direction: row;
	width: 140px;
	align-items: center;
	list-style: none;
	padding: 60px 0;
	margin-left: 45px;
	color: #7a7c7f;
	font-family: monospace;
	justify-content: space-around;
	color: #d54d7b;	
}

.footer-navbar a {
	color: #d54d7b;	
	transition: color 0.2s ease;
}

.footer-navbar a:hover {
	color: #d54d7b54;	
}

@media only screen and (max-width: 1000px) {
	.main-title {
		font-size: 80px;
	}

	.sub-title {
		font-size: 18px;
	}

	input {
		font-size: 15px;
		padding: 0 10px;
		width: 200px;
	}
}

@media only screen and (max-width: 600px) {
	.main-title {
		font-size: 55px;
	}

	.sub-title {
		font-size: 17px;
	}

	.input-form {
		margin-right: 20px;
	}

	input {
		font-size: 14px;
		padding: 0 8px;
		width: 170px;
	}

	.footer-navbar {
		margin-left: 25px;
	}
}